.main-header {
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header a {
  color: white;
}

.main-header ul {
  display: flex;
}

.main-header li {
  margin: 10px;
}