.colors-container {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    padding: 5px;
    top: 20px;
  }
  
  .colors-container>* {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 2px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid #00000026;
  }