/* FONTS  */
@font-face{
    font-family: fas;
    src: url(../../../assets/fonts/font-awesome/fa-solid-900.ttf);
}
@font-face{
    font-family: far;
    src: url(../../../assets/fonts/font-awesome/fa-regular-400.ttf);
}
  
/* BUTTONS  */
.fas{
    font-family: fas;
    font-size: larger;
    background-color: inherit;
    border: none;
    outline: none;
}
.far{
    font-family: far;
    font-size: larger;
    background-color: inherit;
    border: none;
    outline: none;
}

.fas.delete::before{
    content: "";
}
.fas.delete:hover{
    color: #025f70;
    cursor: pointer;
}


.fas.edit::before{
    content: "";
}
.fas.edit:hover{
    color: #025f70;
    cursor: pointer;
}

.fas.done::before{
    content: "";
}
.fas.done:hover{
    color: #025f70;
    cursor: pointer;
}

.fas.check::before{
    content: "";
    font-size: 1rem
}
.fas.check:hover{
    color: #025f70;
    cursor: pointer;
}

.fas.delete-item::before{
    content: "";
    font-size: 1rem
}
.fas.delete-item:hover{
    color: #025f70;
    cursor: pointer;
}

.fas.add-item::before{
    content: "";
    font-size: 1rem
}
.fas.add-item:hover{
    color: #025f70;
    cursor: pointer;
}
.fas.text::before{
    content: "";
    color: gray;
    font-size: 1.2rem
}
.fas.text:hover{
    color: red;
    cursor: pointer;
}
.far.img::before{
    content: "";
    color: gray;
    font-size: 1.2rem
}
.far.img:hover{
    color: red;
    cursor: pointer;
}
.fas.todo::before{
    content: "";
    color: gray;
    font-size: 1.2rem
}
.fas.todo:hover{
    color: red;
    cursor: pointer;
}
.fas.create::before{
    content: "";
    color: gray;
    font-size: 1.2rem
}
.fas.create:hover{
    color: red;
    cursor: pointer;
}


.keep-header{
    background: aqua;
}

.notes {
    width: 90vw;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    gap: 40px;
}
.note {
    background-color: #6494ed;
    /* width: 100%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.note:hover {
    transform: scale(1.05);
    -webkit-box-shadow: -4px 2px 22px 3px rgba(120,116,120,1);
    -moz-box-shadow: -4px 2px 22px 3px rgba(120,116,120,1);
    box-shadow: -4px 2px 22px 3px rgba(120,116,120,1);
    /* transition: transform -webkit-box-shadow  -moz-box-shadow box-shadow 0.5s */

}
/* note-text */
.text-text{
    outline: none;
    border: none;
    resize: none;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 10px
  
}
.text-settings {
    text-align: center;
}

/* note-img */
.text-img {
    outline: none;
    border: none;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px
}
.img-container {
    width: 80%;
    height: 80%;
    margin: auto;
    padding-bottom: 5px;
}
.note img {
    width: 100%;
    /* height: -webkit-fill-available; */
    object-fit: contain;
}
.img-settings {
    text-align: center;
}
.img-edit {
    margin: 10px;    
}
.note-flex {
    display: flex;
    justify-content: space-around;
}
.note-none {
    display: none
}

/* note-todo */

.todo-settings {
    text-align: center;
}

.text-todos {
    outline: none;
    border: none;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px
}
.todo-item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 10px
}
.text-todo {
    grid-column: span 9;
    outline: none;
    border: none;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 1rem;
}

/* note-creator */

.note-creator {
    width: 40%;
    margin: 40px auto;
    text-align: center;
    background-color: lavender;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-creator-inp {
    outline: none;
    border: none;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 0.9rem;
    /* text-align: center; */
    padding: 10px;
    width: 65%;
}
