.mail-list-container>section:not(:first-child) {
    border-top: 1px solid #bbbbbb;
}

.mail-preview-container {
    padding: 5px 8px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-preview-container div {
    display: flex;
    align-items: center;
}

.mail-preview-container div span {
    margin: 0 5px;
}

.mail-preview-container h5 {
    font-weight: 400;
}

.mail-content-container {
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
}

.mail-content-container div {
    display: flex;
    align-items: center;
}

.mail-content-container div h5 {
    color: #aaaaaa;
}

.mail-content-container span.icon {
    align-self: flex-end;
}